<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBqNCjlDbXaTvsBnIpBemFjUi14klfbGW8</string>
	<key>GCM_SENDER_ID</key>
	<string>791463957566</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.atlasNewsApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>atlas-news-app</string>
	<key>STORAGE_BUCKET</key>
	<string>atlas-news-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:791463957566:ios:67460457a7dd35012e6d6f</string>
</dict>
</plist>